<!DOCTYPE html>
<html>
    <title>About Us Page</title>
    <head></head>
    <body>
        <section>
            <div class="corporate_page_header">
                <h2>About myHealthlytics</h2></br>
                <div class="corporate_page_text">
                    <p>Partnering with the best wearable device technology companies, we provide the missing link
                       of software data analysis including real time monitoring.  Our focus is on infants in the 0 - 3 year
                       old range, with home and mobile monitoring providing peace of mind to parents and caregivers.</p></br>
                    <p>Combined with our superior monitoring systems, you can also link to your doctor and specialist
                       to maintain appointments, medical history and prescription medicines. Our comprehensive software
                       including encrypted secured data also provides a 'myNeighbourHood' feature allowing registered
                       users to alert relatives, family and/or friends in case of emergency.</p>
                </div>
                    <div class="pic_right">
                        <img src="https://bbandwearables.files.wordpress.com/2015/07/heart-exercising2.jpg" />
                    </div>
            </div>
        </section>
        
    </body>
</html>