<!DOCTYPE html>
<html>
    <title>Contact Us Page</title>
    <head></head>
    <body>
        <div>
            <div class="corporate_page_header">
                <h3>Contact Us Page</h3></br>
            </div>
            <div class="corporate_page_text">
                <p>Contact us by email at .........</p></br>
                
                <p>Email link to go here</p>
                <p>LinkedIn link</p></br>
                <p>Facebook link</p>
            </div>
        </div>
    </body>
</html>