<!DOCTYPE html>
<html>
    <title>Home Page</title>
    <body>
        <section class="home">
            <div class="container">
                <div class="corporate_page_header">
                    <h2>Welcome to MyBizlytics Home Page</h>
                </div>
            </div>
            <div class="text_circle">
              </br>
              
              <h5>For Free</h5>
              </br>
              <h3>Mega Benefits</h3></br></br>
              <h4>Only for a</h4>
              <h4>Limited TIME!</h4>
              </br></br>
             </div>
        </section>
        <section>
            <div class="circle">
                </br></br></br></br>
                <p>Get More from</p>
                <p>Your Business!</p>
                </br>
                <h5>Sign Up NOW</h5>
                </br>
                <h3>Don't Miss This Chance</h3></br>
                <h4>Free for a Limited Time!</h4>
            </div>
        </section>
        
    </body>
</html>