<!DOCTYPE html>
<html>
    <title>Mission Page</title>
    <head></head>
    <body style="background: no-repeat linear-gradient(to bottom, #00ffff, #6d076b)">
        <div class="corporate_page_header">
            <h2>Our Mission and Vision Page</h2></br>
            <div class="corporate_page_text">
                <p>Development of a comprehensive and complex systematic approach to infant care at home by developing home devices, including wearables,</p>
                <p> for infants up to 3 years old.  The devices will be integrated into a system that collects observation metrics that automatically </p>
                <p>warn about serious health conditions, serve as starting point for emergency triage, paediatric assessment and follow up. </p>
                <p>Develop comprehensive cloud-operating software with specific user interfaces designed for parents and clinicians.</p>
                <p>Develop our Database, IP, and business model that considers clinicians interests in supporting virtual patient assessment</p>
                <p> allowing for efficient cost and time management.</p></br>
            </div>
        </div>
        <section>

        </section>
    </body>
</html>