// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about_us {
    font-family: 'Open Sans', sans-serif;
    color: #00ffff;
}

.container_header {
    text-align: center;
    font-family: cursive;
    color: #b8860b;
    font-size: 18px;
    margin-top: 5px;
}

.signup_text_left {
    text-align: left;
    color: #1a187c;
    margin-top: 0px;
    font-size: 16px;
    padding-left: 20px;
    padding-top: 10px;
    font-family: cursive;
}

.signup_text_center {
    text-align: center;
    color: #1a187c;
    margin-top: 0px;
    font-size: 16px;
    padding-left: 20px;
    padding-top: 10px;
    font-family: cursive;
}

.signup_text_right {
    text-align: right;
    color: #1a187c;
    margin-top: 0px;
    font-size: 16px;
    padding-left: 20px;
    padding-top: 10px;
    font-family: cursive;
}

.corporate_page_header {
    margin-top: 36px;
    font-family: Verdana;
    padding-left: 20px;
    color: #b8860b;
}

.corporate_page_text {
    font-family: Verdana;
    padding-left: 20px;
    padding-right: 30px;
    color: #4b0082;
}